<!DOCTYPE html>
<html>

<head>

    <title>Realtime communication with WebRTC</title>
    <style>
        #canvas {
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
</head>

<body>

<video width="368" height="288" autoplay></video>
<canvas id="canvas" width="368" height="288"></canvas>
<select id="audioSource"></select>
<select id="videoSource"></select>


<script src="{{ url_for('static', filename="clmtrackr.js") }}"></script>
<script src="{{ url_for('static', filename="socket.io.js") }}"></script>

<script type="text/javascript">
    const videoElement = document.querySelector('video');
    const audioSelect = document.querySelector('select#audioSource');
    const videoSelect = document.querySelector('select#videoSource');
    let state = "stop";
    let ctracker;

    navigator.mediaDevices.enumerateDevices()
        .then(gotDevices).then(getStream);

    function gotDevices(deviceInfos) {
        for (let i = 0; i !== deviceInfos.length; ++i) {
            const deviceInfo = deviceInfos[i];
            const option = document.createElement('option');
            option.value = deviceInfo.deviceId;
            if (deviceInfo.kind === 'audioinput') {
                option.text = deviceInfo.label ||
                    'microphone ' + (audioSelect.length + 1);
                audioSelect.appendChild(option);
            } else if (deviceInfo.kind === 'videoinput') {
                option.text = deviceInfo.label || 'camera ' +
                    (videoSelect.length + 1);
                videoSelect.appendChild(option);
            } else {
                console.log('Found another kind of device: ', deviceInfo);
            }
        }
    }

    function getStream() {
        if (window.stream) {
            window.stream.getTracks().forEach(function (track) {
                track.stop();
            });
        }

        const constraints = {
            audio: {
                deviceId: {exact: audioSelect.value}
            },
            video: {
                deviceId: {exact: videoSelect.value}
            }
        };

        navigator.mediaDevices.getUserMedia(constraints).then(gotStream).then(startTracker).then(positionLoop).then(drawLoop).catch(handleError);
    }

    function gotStream(stream) {
        window.stream = stream; // make stream available to console
        videoElement.srcObject = stream;
    }

    function handleError(error) {
        console.error('Error: ', error);
    }

    function startTracker() {
        ctracker = new clm.tracker();
        ctracker.init();
        ctracker.start(videoElement);
    }

    var radius = 10;
    var minEcc = 0.01;
    var ecc = minEcc;
    var smoothEcc = minEcc;
    var smooth = 0;
    var smoothTime = 4;
    var smoothEccC = 0;

    function positionLoop() {
        requestAnimationFrame(positionLoop);
        var positions = ctracker.getCurrentPosition();

        if (positions) {
            var dx = Math.abs(positions[50][0] - positions[57][0]);
            var dy = Math.abs(positions[44][1] - positions[60][1]);
            ecc = (dy / dx) * 10;
            if (ecc < minEcc)
                ecc = minEcc;
            console.log("ecc: " + ecc + "X: " + dx + " Y: " + dy);
        }
        if (smooth <= smoothTime) {
            smooth += 1;
            smoothEccC += ecc;
        } else {
            smooth = 0;
            smoothEcc = smoothEccC / smoothTime;
            smoothEccC = 0;
        }
    }

    var canvasInput = document.getElementById('canvas');
    var cc = canvasInput.getContext('2d');

    function drawLoop() {
        requestAnimationFrame(drawLoop);
        cc.clearRect(0, 0, canvasInput.width, canvasInput.height);

        cc.beginPath();
        cc.ellipse(50, 50, radius / smoothEcc, radius * smoothEcc, 0, 0, 2 * Math.PI);
        cc.fillStyle = "red";
        cc.fill();
        cc.stroke();

        {#ctracker.draw(canvasInput);#}
    }

</script>

</body>

</html>