<!DOCTYPE html>
<html>

<head>

  <title>Realtime communication with WebRTC</title>

</head>

<body>

  <h1>Realtime communication with WebRTC</h1>

  <div id="videos">
    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>
  </div>

  <script src="{{ url_for('static', filename="socket.io.js") }}"></script>
  <script src="{{ url_for('static', filename="main.js") }}"></script>

</body>

</html>